
 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 nav{ 
     /* height: 100px; */
     width: 100%;
     background-color: black;
     position:fixed;
     top: 0;
 }
 .list{
     list-style: none;
     float: right;
     margin: 15px;
     margin-top: -20px;
     color: rgb(255, 255, 255);
     font-size: 1.3rem;
     display: block;
 }
 p{
   color: white;
     padding-top: 10px;
 }

/* table */

.main-container{
     border: 2px solid red;
     margin: auto;
     width: 760px;
     height: 700px;
     box-shadow: 1px 10px 10px 10px #888888;
    font-size: 1.1rem;
     border: none;
     margin-top: 10rem;
}
h1{
     text-align: center;
}
.container{
     margin: auto;
     width: 700px;
     height: 450px;
     border: none;
}
p{
     color: blue;
    text-decoration: underline;
}
.small-table{
     height: 100px;
     width: 250px;
     border: none;

}

/* form */


.container-form{
     width: 750px;
     background-color: white;
     box-shadow: 1px 10px 10px 10px #888888;
     border: 2px solid rgb(250, 248, 248);
     margin: auto;
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     padding: 10px;
 }
 #submit{
     background-color: black;
     color: white;
 }
 .data{
     height: 30px;
 }