
.main-container{
     border: 2px solid red;
     margin: auto;
     width: 760px;
     height: 620px;
     box-shadow: 1px 10px 10px 10px #888888;
    font-size: 1.1rem;
     border: none;
}

h1{
     text-align: center;
}

.container{
     margin: auto;
     width: 700px;
     height: 450px;
     border: none;
}
p{
     color: blue;
    text-decoration: underline;
}
.small-table{
     height: 100px;
     width: 250px;
     border: none;

}