body{
    margin: 0;
    padding: 0;
    background-color:rgb(81, 6, 68);
}


nav{
    background-color: rgb(3, 97, 34);
    padding:30px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav>a,nav>div>a{
    color: white;
    text-decoration: none;
    margin-inline: 10px;
}
.books{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.books-div{
    padding: 10px;
    box-shadow: 0px, 0px, 5px gray;
    margin-top: 10px;
    background-color: white;
}
.books-heading{
    margin-top: 20px;
    font-weight: 900;
}
table, td, th{
    border: 1px solid #ececec;
    border-collapse: collapse;
    padding: 10px;
}
td>a{
    display: inline-block;
    padding-bottom: 10px;
} 